body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url(../images/concrete_seamless.png);
    background: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_item a:visited{
    color: #0000ff;
}

.card {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
}

.card>header{
    background: #288088;
    padding: 20px 0;
    border: solid 2px #45ADAD;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing {
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery>img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

#logo{
    animation-name: logo-enlarge;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@-webkit-keyframes logo-enlarge {
    from{width: 50px;}
    to{width: 425px;}
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes logo-enlarge{
    from{width: 50px;}
    to{width: 425px;}
    from{opacity: 0;}
    to{opacity: 1;}
  }

@media screen and (min-width: 850px){

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    body > header {
        position: sticky;
        top: 0;
    }

    .card {
        /* flex-direction: column; */
        flex-basis: 250px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation:none;
    }
}

@media print {
    body{
        background-image: none;
    }

    nav{
        width: 100%
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .card{
        border: 2px solid #45addd;
        flex-basis: 250px;
    }

    .pricing{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .gallery, #gallery{
        display: none;
    }

    .card li:nth-of-type(odd)::before, .card li:nth-of-type(even)::after{
        content:"👍";
    }
}